langgraph==0.3.*
langchain==0.3.*
langchain-groq
langchain-community
langsmith
fastapi
uvicorn[standard]
psycopg2-binary
sqlalchemy
alembic
pydantic-settings
tavily-python
e2b-code-interpreter
langchain-google-genai
gunicorn
python-dotenv
httpx
python-jose[cryptography]
